:root {
	/* Улучшение рендеринга текста */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: sans-serif; /*  Базовый шрифт */
	line-height: 1.6; /*  Межстрочный интервал */
	margin: 0; /*  Убираем стандартные отступы */
	display: flex;
	flex-direction: column; /*  Размещаем элементы вертикально */
	min-height: 100vh; /*  Занимаем всю высоту экрана */
	background-color: #f4f4f4; /* Светло-серый фон */
	color: #333; /*  Темно-серый текст */
}

#app {
	display: flex;
	flex-direction: column; /*  Header и main-container размещаются вертикально */
	flex-grow: 1; /*  App занимает все доступное пространство */
	box-sizing: border-box; /*  Учитываем padding и border в размерах */
}

#main-container {
	flex-grow: 1; /* main-container занимает всё оставшееся пространство */
	padding: 20px;
}

/*  Пример стилей для RouterView.  Вы можете изменить их позже, когда определитесь с компонентами */
#main-container > * {
	/*  Применяем стили к первому дочернему элементу .main-container (RouterView) */
	width: 100%;
}
