@import url('./styles/tabs.css');
@import url('./styles/button.css');
@import url('./styles/main-container.css');
@import url('./styles/task-list.css');
@import url('./styles/task-list-item.css');

html,
body {
	height: 100%;
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	font-family: Arial, sans-serif;
}
